:root{
    --verde: #73e3d6; 
    --color-fuente:#05100B;
    --verde-semioscuro: #367A72; 
    --verde_celeste: #6DFAEA; 
    --verde_oscuro: #1A3B37; 
    --verde_marino: #63E0D2; 
    --verde-degrade1:#7de5d9f7;
    --verde-degrade2:#7de5d9;
    --verde-degrade3:#7de5d9fa;
    --verde-degrade4:#7de5d9ec;
    --verde-degrade5:#7de5d9e0;
}

 
